<% provide(:title, 'Как найти нас') %>
<!DOCTYPE html>
<html>
<body>
	  <div class="mini_block white">
	     <%= render 'refinery/partials/header', :header => "КОНТАКТЫ" %>
	     <%= render 'refinery/partials/map' %>
	  </div>
</body>
  

