<% provide(:title, 'Вакансии') %>
<!DOCTYPE html>
<html>
<body>
	  <div class="mini_block white">
	     <%= render 'refinery/partials/header', :header => "ВАКАНСИИ" %>
	     <h2><%=raw @page.content_for(:body) %></h2>
	  </div>
</body>
  
