<% provide(:title, 'Цены') %>
<!DOCTYPE html>
<html>
<body>
	  <div class="mini_block white">
	     <%= render 'refinery/partials/header', :header => "ЦЕНЫ" %>
	     <h3><%=raw @page.content_for(:body) %></h3>
	  </div>
</body>
  
