 <% provide(:title, 'Расписание') %>
<!DOCTYPE html>
<html>
<body>
	  <div class="mini_block white">
	     <%= render 'refinery/partials/header', :header => "РАСПИСАНИЕ" %>
	     <%= render 'refinery/partials/calendar' %>
	  </div>
</body>