<div class="header">
      <h1><%= header %></h1>
      <span class="line"></span>
      <span class="line" style="border-bottom:2px solid #fe0000;width:100%"></span>
      <span class="line"></span>
</div>
<br>
