	<div id="force" class="progressbar"></div>
	<h3>СИЛОВЫЕ УПРАЖНЕНИЯ</h3>
	<div id="rastyajka" class="progressbar"></div>
	<h3>РАСТЯЖКА</h3>
	<div id="cardio" class="progressbar"></div>
	<h3>КАРДИО</h3>
	<div id="plastika" class="progressbar"></div>
	<h3>ПЛАСТИКА</h3>
	<a href="/schedule">
		<button type="button" class="btn btn-danger">ЗАПИСАТЬСЯ</button>
	</a>

