@font-face {
    font-family: 'bravo';
    src: asset-url('bravo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monitorica';
    src: asset-url('monitorica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'monitoricab';
    src: asset-url('monitoricab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'intro';
    src: asset-url('intro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'clinica';
    src: asset-url('clinica.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oranie';
    src: asset-url('oranie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}@font-face {
    font-family: 'archive';
    src: asset-url('archive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}